<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Просмотр заказа</title>
</head>
<body>
    <h2 th:text="'Заказ #' + ${editOrder.getNumber()}"></h2>
    <p th:text="'Наименование: ' + ${editOrder.getProduct().getTitle()}"></p>
    <p th:text="'Количество:' + ${editOrder.getCount()}"></p>
    <p th:text="'Дата формирования заказа: ' + ${editOrder.getDateTime()}"></p>
    <p th:text="'Цена: ' + ${editOrder.getPrice()}"></p>
    <p th:text="'Получать: id:' + ${editOrder.getId()} + '; login: ' + ${editOrder.getPerson().getLogin()} + '; ФИО: ' + ${editOrder.getPerson().getLastname()} + ' ' + ${editOrder.getPerson().getFirstname()} + ' ' + ${editOrder.getPerson().getPatronymic()}"></p>
    <p th:text="'Текущий статус заказа: ' + ${editOrder.getStatus()}"></p>
    <form th:method="POST" th:action="@{/admin/order/edit/{id}(id=${editOrder.getId()})}" th:object="${editOrder}">
        <label hidden for="number"></label>
        <textarea hidden th:field="*{number}" placeholder="Номер заказа" id="number"></textarea>
        <label hidden for="price"></label>
        <textarea hidden th:field="*{price}" placeholder="Цена" id="price" ></textarea>
        <label hidden for="person"></label>
        <textarea hidden th:field="*{person}" placeholder="Покупатель" id="person"></textarea>
        <label hidden for="product"></label>
        <textarea hidden th:field="*{product}" placeholder="Наименование продукта" id="product" th:text="${editOrder.getProduct()}"></textarea>
        <label hidden for="dateTime"></label>
        <textarea hidden th:field="*{dateTime}" placeholder="Время заказа" id="dateTime"></textarea>
        <label hidden for="count"></label>
        <textarea hidden th:field="*{count}" placeholder="Количество" id="count"></textarea>
        <label for="status">Изменить статус заказа:</label>
        <select name="status" id="status">
            <option th:each="state:${T(com.example.springsecurityapplication.enumm.Status).values()}" th:value="${state}" th:text="${state}"></option>
        </select>
        <input type="submit" value="Редактировать">
    </form>
</body>
</html>