<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список товаров: </title>
    <link rel="stylesheet" th:href="@{/css/boostrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/product_main.css}">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark my-nav fixed-top" aria-label="Fourth navbar example">
        <div class="container">
            <a class="navbar-brand" href="/product">SNEZHOK</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
                    aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#catalog">Каталог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about-us">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contacts">Контакты</a>
                    </li>
                    <li class="nav-item my-nav-item">
                        <a class="my-nav-link" href="/logout">Войти</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="front-welcome" th:style="'background: url(/img/bg-welcome.jpg) repeat center center fixed;'">
        <div class="welcome-text">
            <h1>SNEZHOK</h1>
            <p>Создаем своё, продаем и сотрудничаем с близкими к нам по духу людьми</p>
            <p>проект, созданный в июне 2019 на почве любви к искусству и эстетике.</p>
<!--            <img th:src="@{/img/bg-welcome.jpg}" alt="Where is my pic">-->
        </div>
    </div>
    <div class="catalog-title">
        <h2>Каталог</h2>
    </div>
    <div  id="catalog" class="products-search-block">
        <div class="search-parameters">
            <form class="ms-5 ps-5 pe-4" th:method="POST" th:action="@{/product/search}">
                <fieldset>
                    <legend>Поиск</legend>
                    <br>
                    <input type="search" name="search"  th:value="*{value_search}" id="search">
                    <p style="color: #1a1e21; margin-bottom: 0; padding-bottom: 0">Сортировка,Фильтр</p>
                    <a href="javascript:Spoiler();" class="link_spoiler" id="linkSpoiler" style="margin-right:10px;"><img width="30px" th:src="@{/img/icon-more.png}"></a>
                    <div id="contentSpoiler" style="display: none;">
                    <p style="margin-top: 20px">Цена, ₽</p>
                    <label for="ot">От</label>
                    <input type="text" name="ot"  th:value="*{value_price_ot}" id="ot">
                    <br>
                    <label for="do">До</label>
                    <input type="text" name="do"  th:value="*{value_price_do}" id="do">
                    <br>
                    <br>
                    <label>Сортировать</label>
                    <br>
                    <input type="radio" id="ascending_price" name="price" value="sorted_by_ascending_price">
                    <label for="ascending_price">по возрастанию цены</label>
                    <br>
                    <input type="radio" id="descending_price" name="price" value="sorted_by_descending_price">
                    <label for="descending_price">по убыванию цены</label>
                    <br>
                    <br>
                    <p class="category">Категория товаров: </p>
                    <input type="radio" id="figurine" name="category" value="figurine">
                    <label for="figurine">Статуэтки</label>
                    <br>
                    <input type="radio" id="paintings" name="category" value="paintings">
                    <label for="paintings">Картины</label>
                    <br>
                    <input type="radio" id="interior_elements" name="category" value="interior_elements">
                    <label for="interior_elements">Элементы интерьера</label>
                    </div>
                    <br>
                    <br>
                    <input type="submit" value="Найти">
                </fieldset>
            </form>
        </div>
        <div class="search-result-and-products">
            <div class="products">
                <div class="product" th:each="product : ${search_product}">
                    <div class="product-image-block">
                        <img th:src="'/img/' + ${product.imageList[0].getFileName()}">
                    </div>
                    <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
                    <p class="cost-place" th:text="'Цена: ' + ${product.getPrice()}"></p>
                </div>
            </div>
            <h3 class="available-title">Доступные товары: </h3>
            <div class="products">
                <div class="product" th:each="product : ${products}">
                    <div class="product-image-block">
                        <img th:src="'/img/' + ${product.imageList[0].getFileName()}">
                    </div>
                    <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}" id="title"></a>
                    <p class="cost-place" th:text="'Цена: ' + ${product.getPrice()}"></p>
                </div>
            </div>
        </div>
    </div>
    <section class="first-section" id="about-us">
        <div class="container">
            <div id="main-first-section">
                <div class="row justify-content-center">
                    <h2 class="col-12 text-center mb-5">О нас</h2>
                </div>
                <div class="row justify-content-center align-items-center about-inform">
                    <p>
                    Антикварный центр SNEZHOK выкупает изделия, представляющие историческую ценность, и выдает крупные займы под залог антиквариата. Мы заинтересованы в различных предметах старины и готовы принять их без предварительной реставрации.
                    </p>
                    <p>
                    Финансовым операциям с антиквариатом предшествует экспертная оценка – ее можно провести в антикварном центре или вызвать оценщика на дом. Имея многолетний опыт работы, мы определяем возраст, материалы изготовления, художественную значимость, уникальность и степень сохранности экземпляров, называя их точную рыночную стоимость. Так как универсальных знатоков, разбирающихся в живописи, монетах царского периода и бронзовых статуэтках, не существует, для оценки редких вещей SNEZHOK привлекает профильных специалистов, что гарантирует грамотный, объективный и максимально оперативный анализ.
                    </p>
                    <p>
                    Результатом профессиональной оценки неизменно становится конкретное коммерческое предложение – сумма, которую антикварный центр предлагает за старинное изделие. Согласиться на выкуп антиквариата или отказаться от него – ваше право. Во втором случае с вами останется подробная информация об объекте и возможность получить качественный сервис на выгодных условиях.
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-4 text-center pb-5 pb-lg-0">
                        <!-- <img src="img/1horse.png" alt="Лошадь"> -->
                        <img style="width: 300px;" th:src="@{/img/buyout-painting.jpg}">
                        <h3 style="margin-bottom: 10px;">ЖИВОПИСЬ</h3>
                        <p>Возможно, вы даже не предполагаете, что полотно, десятилетиями украшающее стену вашего дома или пылящееся на чердаке, обладает какой-то значимостью или является настоящим сокровищем. Эксперты центра проведут быструю и честную оценку произведения искусства, огласив его точную стоимость. Вы получите наличные сразу, без бюрократических проволочек. Это самый простой, надежный и безопасный способ заложить или продать картину и решить финансовые проблемы</p>
                    </div>
                    <div class="col-lg-4 text-center pb-5">
                        <!-- <img src="img/2horse.png" alt="Лошадь"> -->
                        <img style="width: 220px; margin-bottom: 15px;" th:src="@{/img/buyout-statuettes.jpg}">
                        <h3 style="margin-bottom: 10px;">СТАТУЭТКИ</h3>
                        <p>Мы принимаем дорогие и уникальные, редкие и оригинальные, выполненные из различных материалов изделия в любом состоянии, в том числе пострадавшие от времени и требующие реставрации. Решив заложить или продать статуэтку (фигурку, композицию, барельеф и т.д.) в SNEZHOK, рассчитывайте на условия полной конфиденциальности</p>
                    </div>
                    <div class="col-lg-4 text-center pb-5 pb-lg-0">
                        <!-- <img src="img/3horse.png" alt="Лошадь"> -->
                        <img style="width: 228px; margin-bottom: 15px;" th:src="@{/img/flowers-hearts-plant.png}">
                        <h3 style="margin-bottom: 10px;">Элементы интерьера</h3>
                        <p>Проектирование интерьера осуществляется архитектором во взаимосвязи с экстерьером здания и, как архитектура в целом, следует логике развития историко-культурных концепций, идей и взглядов на окружающий мир, содержания основных художественных направлений, архитектурных стилей, течений и школ (региональных, национальных, академических, персональных), развитию строительных технологий и материалов</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-wrapper" id="contacts">
        <div class="contacts">
            <div class="footer__left">
                <a href="tel:+79000000000" class="footer__left-phone">+7(900)000-00-00</a>
                <a href="mailto:example@gmail.com" class="footer__left-mail">example@gmail.com</a>
                <a href="https://vk.com/" target="_blank" class="footer__left-vk">vk.com/example</a>
            </div>
            <div class="footer__right">
                <p class="footer__right-location">Республика Такая, г.ВотТакой, ул.Хорошая,д.10А.</p>
            </div>
        </div>
    </section>
    <div class="my-footer">
        <div class="container text-center w-100 footer">
            <div class="row">
                <div class="col-4">
                    <h3>SNEZHOK</h3>
                </div>
                <div class="col-8">Copyright © интернет-магазин  auction.ru 2019-2022</div>
            </div>
        </div>
    </div>
    <script th:src="@{/scripts/bootstrap.bundle.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script>
        function Spoiler() {
            var ele = document.getElementById("contentSpoiler");
            // var text = document.getElementById("linkSpoiler");
            var text = document.querySelector("linkSpoiler");
            if(ele.style.display == "block") {
                ele.style.display = "none";
                // text.innerHTML = "<img width=\"30px\" th:src=\"@{/img/icon-more.png}\">";
                text.insertAdjacentHTML('afterbegin', `<img width=\\"30px\\" th:src=\\"@{/img/icon-more.png}\\">`);
            }
            else {
                ele.style.display = "block";
                // text.innerHTML = "Скрыть";
                text.insertAdjacentHTML('afterbegin', `<p>Скрыть</p>`);
            }
        }
    </script>
</body>
</html>