<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="stylesheet" th:href="@{/css/boostrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/user_index.css}">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark my-nav fixed-top" aria-label="Fourth navbar example">
        <div class="container">
            <a class="navbar-brand" href="/index">SNEZHOK</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
                    aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/index#catalog">Каталог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/index#contacts">Контакты</a>
                    </li>
                    <li>
                        <a class="nav-link" th:href="@{/cart}">
                            <form method="get" th:action="@{/cart}">
                                <input  class="nav-inputs" type="submit" value="Корзина">
                            </form>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" th:href="@{/order/create}">
                            <form method="get" th:action="@{/order/create}">
                                <input class="nav-inputs" type="submit" value="Заказы">
                            </form>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">
                            <form method="post" th:action="@{/logout}">
                                <input class="nav-inputs" type="submit" value="Выйти">
                            </form>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--BEFORE-->
    <div class="catalog-title">
        <h2>Каталог</h2>
    </div>
    <div  id="catalog" class="products-search-block">
        <div class="search-parameters">
            <form class="ms-5 ps-5 pe-4" th:method="POST" th:action="@{/search}">
                <fieldset>
                    <legend>Поиск</legend>
                    <br>
                    <input type="search" name="search"  th:value="*{value_search}" id="search">
                    <p style="color: #1a1e21; margin-bottom: 0; padding-bottom: 0">Сортировка,Фильтр</p>
                    <a href="javascript:Spoiler();" class="link_spoiler" id="linkSpoiler" style="margin-right:10px;"><img width="30px" th:src="@{/img/icon-more.png}"></a>
                    <div id="contentSpoiler" style="display: none;">
                    <p>Цена, ₽</p>
                    <label for="ot">От</label>
                    <input type="text" name="ot"  th:value="*{value_price_ot}" id="ot">
                    <br>
                    <label for="do">До</label>
                    <input type="text" name="do"  th:value="*{value_price_do}" id="do">
                    <br>
                    <br>
                    <label>Сортировать</label>
                    <br>
                    <input type="radio" id="ascending_price" name="price" value="sorted_by_ascending_price">
                    <label for="ascending_price">по возрастанию цены</label>
                    <br>
                    <input type="radio" id="descending_price" name="price" value="sorted_by_descending_price">
                    <label for="descending_price">по убыванию цены</label>
                    <br>
                    <br>
                    <p class="category">Категория товаров: </p>
                    <input type="radio" id="figurine" name="category" value="figurine">
                    <label for="figurine">Статуэтки</label>
                    <br>
                    <input type="radio" id="paintings" name="category" value="paintings">
                    <label for="paintings">Картины</label>
                    <br>
                    <input type="radio" id="interior_elements" name="category" value="interior_elements">
                    <label for="interior_elements">Элементы интерьера</label>
                    </div>
                    <br>
                    <br>
                    <input type="submit" value="Найти">
                </fieldset>
            </form>
        </div>
        <div class="search-result-and-products">
            <div class="products">
                <div class="product" th:each="product : ${search_product}">
                    <div class="product-image-block">
                        <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
                    </div>
                    <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
                    <p class="cost-place" th:text="'Цена: ' + ${product.getPrice()}"></p>
                    <a class="add-to-cart-btn" th:href="@{/cart/add/{id}(id=${product.getId()})}">Добавить в корзину</a>
                </div>
            </div>
            <h3 class="available-title">Доступные товары: </h3>
            <div class="products">
                <div class="product" th:each="product : ${products}">
                    <div class="product-image-block">
                        <img th:src="'/img/' + ${product.imageList[0].getFileName()}">
                    </div>
                    <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}" id="title"></a>
                    <p class="cost-place" th:text="'Цена: ' + ${product.getPrice()}"></p>
                    <a class="add-to-cart-btn" th:href="@{/cart/add/{id}(id=${product.getId()})}">Добавить в корзину</a>
                </div>
            </div>
        </div>
    </div>
    <section class="footer-wrapper" id="contacts">
        <div class="contacts">
            <div class="footer__left">
                <a href="tel:+79000000000" class="footer__left-phone">+7(900)000-00-00</a>
                <a href="mailto:example@gmail.com" class="footer__left-mail">example@gmail.com</a>
                <a href="https://vk.com/" target="_blank" class="footer__left-vk">vk.com/example</a>
            </div>
            <div class="footer__right">
                <p class="footer__right-location">Республика Такая, г.ВотТакой, ул.Хорошая,д.10А.</p>
            </div>
        </div>
    </section>
    <div class="my-footer">
        <div class="container text-center w-100 footer">
            <div class="row">
                <div class="col-4">
                    <h3>SNEZHOK</h3>
                </div>
                <div class="col-8">Copyright © интернет-магазин  auction.ru 2019-2022</div>
            </div>
        </div>
    </div>
    <script th:src="@{/scripts/bootstrap.bundle.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script>
        function Spoiler() {
            var ele = document.getElementById("contentSpoiler");
            // var text = document.getElementById("linkSpoiler");
            var text = document.querySelector("linkSpoiler");
            if(ele.style.display == "block") {
                ele.style.display = "none";
                // text.innerHTML = "<img width=\"30px\" th:src=\"@{/img/icon-more.png}\">";
                text.insertAdjacentHTML('afterbegin', `<img width=\\"30px\\" th:src=\\"@{/img/icon-more.png}\\">`);
            }
            else {
                ele.style.display = "block";
                // text.innerHTML = "Скрыть";
                text.insertAdjacentHTML('afterbegin', `<p>Скрыть</p>`);
            }
        }
    </script>
</body>
</html>