<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о товаре</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark my-nav fixed-top" aria-label="Fourth navbar example">
        <div class="container">
            <a class="navbar-brand" href="/index">SNEZHOK</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
                    aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/index#catalog">Каталог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/index#contacts">Контакты</a>
                    </li>
                    <li>
                        <a class="nav-link" th:href="@{/cart}">
                            <form method="get" th:action="@{/cart}">
                                <input  class="nav-inputs" type="submit" value="Корзина">
                            </form>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" th:href="@{/order/create}">
                            <form method="get" th:action="@{/order/create}">
                                <input class="nav-inputs" type="submit" value="Заказы">
                            </form>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">
                            <form method="post" th:action="@{/logout}">
                                <input class="nav-inputs" type="submit" value="Выйти">
                            </form>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <p th:text="'Наименование: ' + ${product.getTitle()}"></p>
    <p th:text="'Описание: ' + ${product.getDescription()}"></p>
    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
    <p th:text="'Склад: ' + ${product.getWarehouse()}"></p>
    <p th:text="'Продавец: ' + ${product.getSeller()}"></p>
    <p th:text="'Категория: ' + ${product.getCategory().getName()}"></p>

    <div th:each="img : ${product.getImageList()}">
        <img th:src="'/img/' + ${img.getFileName()}" width="300px">
    </div>


    <div class="container text-center w-100 footer">
        <div class="row">
            <div class="col-4">
                <h3>SNEZHOK</h3>
            </div>
            <div class="col-8">Организация для экслюзивных вещей</div>
        </div>
    </div>
</body>
</html>