* {
    box-sizing: border-box;
}

input, textarea, p {
    background-color: #F7F8F9;
    padding: 10px;
    border:none;
}

.main-admin {
    display: flex;
    align-items: center;
}

.nav-inputs {
    background-color: #212529;
    border: 0;
    color:darkorange;
    height: auto;
    width: auto;
}

.main-wrapper {
    min-height: 960px;
    width: 100%;
    /* color:rgb(213, 213, 213); */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F8F9;
}

.nav-inputs:hover {
    color:rgb(213, 213, 213);
}

.main {
    max-width: 1400px;
    min-width: 1000px;
    min-width: 300px;
    margin: 120px 0 70px;
    padding: 30px;
    /* margin: 0 auto; */
    background-color: white;
}

.main-form {
    max-width: 1150px;
    margin: 15px auto 0;
}

.first-row-form {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.block-form {
    display: flex;
    flex-direction: column;
}

label {
    width: 150px;
    font-size: 13px;
    margin-bottom: 5px;
}

.name-input {
    width: 812px;
    min-width: 200px;
}

.select-category {
    width: 175px;
    padding: 10px 5px;
    border: none;
    background-color: #F7F8F9;
}

.cost-input {
    width: 120px;
}

.second-row-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.warehouse-input {
    width: 400px;
}

.seller-input {
    width: 400px;
}

.third-row-form {
    display: flex;
    flex-direction: column;
    margin: 0 0 25px;
}

.description-area {
    width: 99%;
    min-height: 100px;
    height: 200px;
}

 .submit-btn-my {
    margin-top: 40px;
    max-width: 180px;
    padding: 7px 14px;
    font-size: 20px;
    border-radius: 5px;
    color:white !important;
    background-color: #2b3136;
    transition: all 0.3s ease-in-out;
    /* margin: 0 auto 10px; */
}

 .submit-btn-my:hover {
    background-color: rgb(255, 168, 62);
}

.del-to-cart-btn {
    max-width: 180px;
    padding: 5px 10px;
    border-radius: 10px;
    color:white !important;
    background-color: #2b3136;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    margin: 0 auto;
 }
 
 .del-to-cart-btn:hover {
    color:white;
     background-color: rgb(248, 74, 74);
 }

 .imgs-and-del {
    margin-top: 30px;
    width: 100%;
    max-height: 400px;
    display: flex;
    flex-wrap: wrap;
 }

 .img-and-del {
    display: flex;
    flex-direction: column;
 }

 .img-block {
    width: 220px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .img-block img {
    max-width: 220px;
    max-height: 270px;
    margin: 0 auto;
 }