.my-nav-item {
    display: flex;
    align-items: center;
}

 .my-nav-link {
    background-color: darkorange;
    color: white;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
     text-decoration: none;
 }

.my-nav-link:hover {
    background-color: black;
    color:rgb(213, 213, 213);
}

.main-content {
    display: flex;
    flex-direction: row;
    max-width: 1600px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.container-img {
    max-width: 1000px;
}

.info-product {
    word-wrap: break-word;
    max-width: 400px;
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    padding: 15px;
}

.info-product p {
    word-wrap: break-word;
}

img {
    width: 300px;
}

.wrapper {
    min-height: 900px;
    background-color: rgb(244, 244, 244);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-block {
    max-width: 1600px;
    padding: 20px;
    margin: 70px auto 0;
    background-color: white;
}

.back-btn {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #212529;
    color: white;
    transition: all 0.3s ease-in-out;
}

.back-btn:hover {
    background-color: darkorange;
    color:white;
}

.info-product p {
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    color: #34383d;
}

.cost-block {
    font-size: 18px;
    font-weight: 500;
}

.my-footer {
    width: 100%;
    background-color: #212529;
}

.footer {
    color:aliceblue;
    width: 100%;
    border-top: 1px solid gray;
}