.my-nav-item {
    display: flex;
    align-items: center;
}

 .my-nav-link {
    background-color: darkorange;
    color: white;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
     text-decoration: none;
 }

.my-nav-link:hover {
    background-color: black;
    color:rgb(213, 213, 213);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

img {
    width: 300px;
}

.wrapper {
    min-height: 900px;
    background-color: rgb(244, 244, 244);
    width: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
}

.main-block {
    max-width: 1600px;
    height: 100%;
    padding: 20px;
    margin: 70px auto 0;
    background-color: white;
}

.back-btn {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #212529;
    color: white;
    transition: all 0.3s ease-in-out;
}

.back-btn:hover {
    background-color: darkorange;
    color:white;
}

.footer {
    width: 100%;
    border-top: 1px solid gray;
}

.description {
    width: 1000px;
}